/* resources/css/app.css o public/css/styles.css */
#FondoDeInicio {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/storage/images/FondoPaginaWeb.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1; /* Asegura que el fondo esté detrás del contenido */
}
